ion-searchbar{
  --background: rgb(37, 37, 37);
  --icon-color: red;
  --placeholder-color: white;
  --color: white;
  --placeholder-font-weight: 600;
  --border-radius: 5px;
}

ion-thumbnail {
  width: 100px;
  --size: 110px;
  --border-radius: 10%;
  padding: 3px;
}

