<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="red">FARMACIAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-searchbar showCancelButton="never" placeholder="Pesquisar"></ion-searchbar>

    <ion-item>
      <div>
        <ion-thumbnail slot="start">
          <img
            src="https://play-lh.googleusercontent.com/ZXkB7fXAzk-h1ARn0EgsNAYz32xsPxj_fyAIAV_UbR4NxSE3Vxsdy17UEhUQisgiUaPq"
          />
        </ion-thumbnail>
      </div>
      <pre></pre>
      <div class="thor">
        <ion-label
          >Farmacia Droga Raia
          <ion-label>
            <p>R.Geraldo Pereira de Barros N°795</p>
          </ion-label>
        </ion-label>
        <div class="categoria">
          <ion-chip color="amarelo">
            <ion-label><ion-icon name="star"></ion-icon>Avaliações</ion-label>
          </ion-chip>

          <ion-chip color="danger">
            <ion-label><ion-icon name="call"></ion-icon> Ligar</ion-label>
          </ion-chip>

          <ion-chip color="success">
            <ion-label><ion-icon name="camera"></ion-icon> Fotos</ion-label>
          </ion-chip>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div>
        <ion-thumbnail slot="start">
          <img
            src="https://logospng.org/download/drogaria-sao-paulo/logo-drogaria-sao-paulo-1536.png"
          />
        </ion-thumbnail>
      </div>
      <pre></pre>
      <div class="thor">
        <ion-label
          >Drogaria São Paulo
          <ion-label>
            <p>R. Cel. Joaquim Anselmo Martins N°795</p>
          </ion-label>
        </ion-label>
        <div class="categoria">
          <ion-chip color="amarelo">
            <ion-label><ion-icon name="star"></ion-icon>Avaliações</ion-label>
          </ion-chip>

          <ion-chip color="danger">
            <ion-label><ion-icon name="call"></ion-icon> Ligar</ion-label>
          </ion-chip>

          <ion-chip color="success">
            <ion-label><ion-icon name="camera"></ion-icon> Fotos</ion-label>
          </ion-chip>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div>
        <ion-thumbnail slot="start">
          <img
            src="https://play-lh.googleusercontent.com/l9LDWJJ3m2EH0fNf4LX3RWbE0JHpGQC9qXn0kaTni4ALup_bv2FJS-8rTyhaE2yU-Q=w600-h300-pc0xffffff-pd"
          />
        </ion-thumbnail>
      </div>
      <pre></pre>
      <div class="thor">
        <ion-label
          >Multidrogas
          <ion-label>
            <p>Av. Padre Salustio Rodrigues Machado N°1051</p>
          </ion-label>
        </ion-label>
        <div class="categoria">
          <ion-chip color="amarelo">
            <ion-label><ion-icon name="star"></ion-icon>Avaliações</ion-label>
          </ion-chip>

          <ion-chip color="danger">
            <ion-label><ion-icon name="call"></ion-icon> Ligar</ion-label>
          </ion-chip>

          <ion-chip color="success">
            <ion-label><ion-icon name="camera"></ion-icon> Fotos</ion-label>
          </ion-chip>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div>
        <ion-thumbnail slot="start">
          <img
            src="https://logospng.org/download/pague-menos/logo-pague-menos-256.png"
          />
        </ion-thumbnail>
      </div>
      <pre></pre>
      <div class="thor">
        <ion-label
          >Pague Menos
          <ion-label>
            <p>R. Cel. Joaquim Gabriel N°219</p>
          </ion-label>
        </ion-label>
        <div class="categoria">
          <ion-chip color="amarelo">
            <ion-label><ion-icon name="star"></ion-icon>Avaliações</ion-label>
          </ion-chip>

          <ion-chip color="danger">
            <ion-label><ion-icon name="call"></ion-icon> Ligar</ion-label>
          </ion-chip>

          <ion-chip color="success">
            <ion-label><ion-icon name="camera"></ion-icon> Fotos</ion-label>
          </ion-chip>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div>
        <ion-thumbnail slot="start">
          <img
            src="https://www.checklistfacil.com/wp-content/uploads/elementor/thumbs/87-cliente-drogal-psx5xkycbngwpugvp3jwk7usg0zuawevzg4u388de8.png"
          />
        </ion-thumbnail>
      </div>
      <pre></pre>
      <div class="thor">
        <ion-label
          >Drogal
          <ion-label>
            <p>R. Piedade N°240</p>
          </ion-label>
        </ion-label>
        <div class="categoria">
          <ion-chip color="amarelo">
            <ion-label><ion-icon name="star"></ion-icon>Avaliações</ion-label>
          </ion-chip>

          <ion-chip color="danger">
            <ion-label><ion-icon name="call"></ion-icon> Ligar</ion-label>
          </ion-chip>

          <ion-chip color="success">
            <ion-label><ion-icon name="camera"></ion-icon> Fotos</ion-label>
          </ion-chip>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div>
        <ion-thumbnail slot="start">
          <img
            src="https://www.drogariatotal.com.br/pub/media/wysiwyg/drogariatotal/logo_centro.png"
          />
        </ion-thumbnail>
      </div>
      <pre></pre>
      <div class="thor">
        <ion-label
          >Drogaria Total
          <ion-label>
            <p>R. Cel. Joaquim Anselmo Martins N°503</p>
          </ion-label>
        </ion-label>
        <div class="categoria">
          <ion-chip color="amarelo">
            <ion-label><ion-icon name="star"></ion-icon>Avaliações</ion-label>
          </ion-chip>

          <ion-chip color="danger">
            <ion-label><ion-icon name="call"></ion-icon> Ligar</ion-label>
          </ion-chip>

          <ion-chip color="success">
            <ion-label><ion-icon name="camera"></ion-icon> Fotos</ion-label>
          </ion-chip>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div>
        <ion-thumbnail slot="start">
          <img
            src="https://seeklogo.com/images/F/farmacia-logo-57EBC143C7-seeklogo.com.png"
          />
        </ion-thumbnail>
      </div>
      <pre></pre>
      <div class="thor">
        <ion-label
          >Ludovico Farma
          <ion-label>
            <p>R. Inácio Anselmo N°846</p>
          </ion-label>
        </ion-label>
        <div class="categoria">
          <ion-chip color="amarelo">
            <ion-label><ion-icon name="star"></ion-icon>Avaliações</ion-label>
          </ion-chip>

          <ion-chip color="danger">
            <ion-label><ion-icon name="call"></ion-icon> Ligar</ion-label>
          </ion-chip>

          <ion-chip color="success">
            <ion-label><ion-icon name="camera"></ion-icon> Fotos</ion-label>
          </ion-chip>
        </div>
      </div>
    </ion-item>
  </div>
</ion-content>
